body {
	background-color: #100e17;
	text-align: center;
	font-family: Libre Franklin,sans-serif;
	margin: 3px;
	color: white;
	
}
div {
	/* position: relative; */
	max-width: 375px;
	/* height: 500px; */
	margin: auto;
	padding-top: 20px;
	padding-bottom: 100px;
}
.calculator {
	position: absolute;
	top: 150px;
	font-size: 50px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#welcomePage {
	position: relative;
	height: 500px;
	
}
#profile {
    position: relative;
	height: 65px;
	background-color: black;
	padding: 0.1px 0px;
}
#profile span {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 5px;
	width: 375px;
	margin: auto;
	padding: 0px;
	padding-top: 3px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
}
#back {
	position: absolute;
	top: 16px;
	left: 5px;
	color: white;
	background-color: inherit;
	border: none;
	font-size: 30px;

}
#back:hover {color: black;}
#restartbutt {
	position: absolute;
	top: 14px;
	left: 5px;
	color: #d4d4d4;
	background-color: inherit;
	border: none;
	font-size: 30px;
}
#restartbutt:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}
#bmitip {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	position: absolute;
	right: 25px;
	top: 60px;
	border: none;
}
#bmitip:hover {color: #A40606;}
#bmrtip {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	position: absolute;
	right: 25px;
	top: 385px;
	border: none;
}
#bmrtip:hover {color: #A40606;}
#whtrtip {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	position: absolute;
	right: 25px;
	top: 840px;
	border: none;
}
#whtrtip:hover {color: #A40606;}
#ibwtip {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	position: absolute;
	right: 25px;
	top: 1145px;
	border: none;
}
#ibwtip:hover {color: #A40606;}
#bfptip {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	position: absolute;
	right: 25px;
	top: 1450px;
	border: none;
}
#bfptip:hover {color: #A40606;}
.topage1 {
	position: absolute;
	margin: auto;
	bottom: 0;
	right: 60px;
	color: white;
	border: none;
	border-radius: 35px;
	font-weight: bold;
	font-size: 20px;
	padding: 25px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
	box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
}
.topage1:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 50%);
	color: black;
	}
.topage2 {
	color: white;
	border: none;
	border-radius: 35px;
	font-weight: bold;
	font-size: 20px;
	padding: 25px 60px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
    box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
}
.topage2:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 50%);
	color: black;
}
#selectsys {
	background-color: #000000;
	color: white;
	border: solid 2px #ea4259;
	border-radius: 35px;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 35px;
}
#bmrmethod, #ibwmethod {
	background-color: black;
	color: white;
	border: none;
	border-radius: 35px;
	font-weight: normal;
	font-size: 15px;
	padding: 3px 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#age, #weight, #height, #neck, #waist, #hip {
	background-color: #3a3348;
	color: white;
	border: solid 3px white;
	border-radius: 30px;
	font-weight: bold;
	font-size: 14px;
	width: 220px;
	padding: 15px 10px;
	-webkit-box-shadow: inset 0px 0px 300px -76px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 300px -76px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 300px -76px rgba(0,0,0,1);
}
#page2 input:focus {
	border: solid 3px #ea4259;
}
#page2 input::placeholder {
	color: #6d6d6e;
}
.checkbox {
	text-align: left;
	margin-left: 50px;
	margin-top: 3px;
}
#page5 {
	position: relative;
}
#card1  {
	color: black;
	width: 325px;
	height: 170px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
.bmibar {
	position: relative;
	height: 5px;
	width: 250px;
	margin: auto;
	padding: 0px;
	padding-top: 3px;
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,192,0,1) 45%, rgba(31,255,0,1) 65%, rgba(255,192,0,1) 80%, rgba(255,0,0,1) 100%);
}
#arrow {
	position: absolute;
	left: -5px;
	bottom: 3px;
	height: 0px;
	width: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 14px solid black;
}
#card2 {
	color: black;
	width: 325px;
	height: 300px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
#card3 {
	color: black;
	width: 325px;
	height: 150px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
    -webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
#card4 {
	color: black;
	width: 325px;
	height: 150px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
    -webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
#card5 {
	color: black;
	width: 325px;
	height: 150px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
    -webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
.popup {
	position: fixed;
	bottom: 35%;
	left: 33%;
	background-color: #282828;
	color: white;
	border: solid 1px #1db954;
	border-radius: 10px;
	text-align: left;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	max-width: 300px;
	display: none;
	font-family: sans-serif;
	font-weight: normal;
	-webkit-box-shadow: 0px 4px 300px 200px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 4px 300px 200px rgba(0,0,0,0.7);
	box-shadow: 0px 4px 300px 200px rgba(0,0,0,0.7);
}
#bmipop {
	bottom: 25%;
}
#bmrpop {
	/* bottom: 60%; */
	/* position: fixed; */
	/* left: 33%; */
}
#whtrpop {
	/* bottom: 38%; */
}
#ibwpop {
	/* bottom: 23%; */
}
.popbutt {
	background-color: #1DB954;
	color: white;
	border: none;
	border-radius: 35px;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 15px;
	margin-left: 110px;
	margin-bottom: 15px;
}
.container {
  display: block;
  color: #4cffd6;
  position: relative;
  padding-left: 35px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: left;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 3px;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fd800c;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 8.5px;
	left: 8.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}