body {
	background-color: #071A23;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	margin: 0PX;
	color: white;
}
.pg {
	position: absolute;
	left: 0px;
	margin: auto;
	padding: 0px;
	width: 375px;
	height: 418px;
	background-image: url(b1.jpg);
	background-position: center;
	background-size: cover;
	background-color: #071A23;
	background-blend-mode: overlay;
	-webkit-box-shadow: inset 0px -145px 62px -83px rgba(7,26,35,1);
	-moz-box-shadow: inset 0px -145px 62px -83px rgba(7,26,35,1);
	box-shadow: inset 0px -145px 62px -83px rgba(7,26,35,1);
}
div {
	max-width: 375px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 100px;
}
.calculator {
	position: inherit;
	top: 344px;
	margin: auto;
	font-size: 39px;
	font-weight: BOLDER;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#welcomePage {
	position: relative;
	height: 500px;
	padding: 0;
}
#profile {
    position: relative;
    height: 47px;
    width: 375px;
    margin: auto;
    background-color: #153947;
    padding: 1px 0px;
}
#profile span {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 5px;
	width: 375px;
	margin: auto;
	padding: 0px;
	padding-top: 3px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
}
#back {
	position: absolute;
	top: 1px;
	left: 5px;
	color: white;
	background-color: inherit;
	border: none;
	font-size: 42px;
}
#back:hover {color: black;}
#restartbutt {
	position: absolute;
	top: 14px;
	left: 5px;
	color: #d4d4d4;
	background-color: inherit;
	border: none;
	font-size: 30px;
}
#restartbutt:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}
#bmitip, #bmrtip, #whtrtip, #ibwtip, #bfptip, #lbmtip {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	opacity: 70%;
	position: absolute;
	right: 1px;
	top: 7px;
	border: none;
}
#bmitip:hover, #bmrtip:hover, #whtrtip:hover, #ibwtip:hover, #bfptip:hover, #lbmtip:hover {color: #ff5200;}
#necktip {
	position: absolute;
	right: 10px;
	top: 119px;
	background-color: transparent;
	color: white;
	border: none;
	opacity: 75%;
}
#necktip:hover, #waisttip:hover, #hiptip:hover {color: #ff5200;}
#waisttip {
	position: absolute;
	right: 10px;
	top: 219px;
	background-color: transparent;
	color: white;
	border: none;
	opacity: 75%;
}
#hiptip {
	position: absolute;
	right: 10px;
	top: 322px;
	background-color: transparent;
	color: white;
	border: none;
	opacity: 75%;
}
.topage1 {
	position: inherit;
	bottom: -298px;
	margin: auto;
	color: white;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 20px;
	padding: 16px 83px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
	-webkit-box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
	box-shadow: 0px 0px 26px 8px rgba(0,0,0,1);
}
.topage1:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 50%);
	color: black;
}

.topage2 {
	position: inherit;
	color: white;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 20px;
	padding: 16px 118px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
}
.topage2:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 50%);
	color: black;
}
#page2 .topage2 {
	bottom: -28px;
}
#page3 .topage2 {
	bottom: -24px;
}
#selectsys {
	background-color: #0d3342;
	color: white;
	border: solid 2px #f5af19;
	border-radius: 35px;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 35px;
}
#bmrmethod, #ibwmethod, #bfpmethod, #lbmmethod {
	background-color: #F5AF19;
	color: black;
	border: none;
	border-radius: 35px;
	font-weight: normal;
	font-size: 15px;
	padding: 3px 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#age, #weight, #height, #neck, #waist, #hip {
	background-color: transparent;
	color: white;
	border-bottom: solid 1px;
	border-top: solid transparent;
	border-left: solid transparent;
	border-right: solid transparent;
	border-radius: 0px;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	width: 301px;
	height: 18px;
	padding: 15px 10px;
	-moz-box-shadow: inset 0px 0px 300px -76px rgba(0,0,0,1);
}
#page2 input::placeholder {
	color: #6d6d6e;
}
#page1 h2 {
	text-align: left;
	color: #27A3C9;
	margin-left: 23px;
	margin-bottom: -8px;
	margin-top: 5px;
	font-size: 20px;
}
#page2 h2 {
	text-align: left;
	color: #27A3C9;
	margin-left: 30px;
	margin-bottom: -8px;
	font-size: 20px;
}
#page1 h3 {
	text-align: left;
	color: #27A3C9;
	margin-left: 25px;
	margin-bottom: 12px;
	margin-top: 0px;
}

i {position: absolute;left: 10px;width: 354px;height: 94px;margin: auto;background-color: white;z-index: -1;opacity: 5%;border-radius: 9px;}
.ipg {
	top: 16px;
	height: 150px;
}
.ipg1 {
	top: 25px;
}
.ipg3 {
	top: 181px;
	height: 300px;
}
.ipg6 {
	top: 113px;
}
.ipg7 {
	top: 216px;
}
.ipg8 {
	top: 319px;
}
.ipg9 {
	top: 27px;
	left: 6px;
	height: 446px;
	width: 365px;
	border-radius: 22px;
}
.checkbox1 {
	text-align: center;
	margin-left: -11px;
	margin-top: 7px;
	color: #a5efff;
}
#page1 {
	position: relative;
}
#page2 {
	position: relative;
}
#page3 {
	position: relative;
}
#page4 {
	position: relative;
}
#page4 h2 {
	color: white;
	opacity: 70%;
}
#page4 h3 {
	color: white;
}
#page4 h4 {
	color: #ffffff;
	opacity: 70%;
	font-weight: lighter;
}
#page2 h1 {
	font-size: 26px;
	color: #27A3C9;
}
#card1  {
	position: relative;
	color: black;
	width: 325px;
	height: 170px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
}
.bmibar {
	position: relative;
	height: 5px;
	width: 250px;
	margin: auto;
	padding: 0px;
	padding-top: 3px;
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,192,0,1) 45%, rgba(31,255,0,1) 65%, rgba(255,192,0,1) 80%, rgba(255,0,0,1) 100%);
}
#arrow {
	position: absolute;
	left: -5px;
	bottom: 3px;
	height: 0px;
	width: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 14px solid #cfcfcf;
}
#card2 {
	position: relative;
	color: black;
	width: 325px;
	height: 300px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
}
#card3 {
	position: relative;
	color: black;
	width: 325px;
	height: 150px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
}
#card4 {
	position: relative;
	color: black;
	width: 325px;
	height: 150px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
}
#card5 {
	position: relative;
	color: black;
	width: 325px;
	height: 401px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
}
#card6 {
	position: relative;
	color: black;
	width: 325px;
	height: 343px;
	margin: auto;
	margin-top: 34.6px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.55);
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
}
.popup {
	position: fixed;
	bottom: 35%;
	margin-left: 14px;
	background-color: #071A23;
	color: white;
	border: solid 1px #F5AF19;
	border-radius: 10px;
	text-align: left;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 300px;
	display: none;
	font-family: sans-serif;
	font-weight: normal;
	-webkit-box-shadow: 0px 4px 300px 200px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 4px 300px 200px rgba(0,0,0,0.7);
	box-shadow: 0px 4px 300px 200px rgba(0,0,0,0.7);
}
#bmipop {
	bottom: 25%;
}
#bfppop {
	bottom: 15%;
}
#agealert {
	margin-left: 53px;
	margin-bottom: 103px;
}
#weightalert, #heightalert {
	margin-left: 66px;
	margin-bottom: 103px;
}
.popbutt {
	background-color: #F5AF19;
	color: white;
	border: none;
	border-radius: 35px;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 15px;
	margin-left: 110px;
	margin-bottom: 15px;
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
}
.popbutt:hover {
	background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 50%);
	color: black;
}
.container {
  display: inline;
  color: #ffffff;
  position: relative;
  left: -59px;
  padding-top: 5px;
  padding-left: 50px;
  cursor: pointer;
  font-size: 17px;
  font-weight: lighter;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  -ms-user-select: none;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 3px;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -9px;
  height: 32px;
  width: 164px;
  background-color: #0D3342;
  border-radius: 7px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #F5AF19;
  background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 8.5px;
	left: 8.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}




.container1 {
  display: block;
  color: #ffffff;
  position: relative;
  padding-top: 8px;
  padding-left: 0px;
  margin-left: -1px;
  margin-bottom: -8px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  -ms-user-select: none;
}
/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 3px;
}
/* Create a custom radio button */
.checkmark1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 17px;
  height: 54px;
  width: 345px;
  background-color: #0D3342;
  border-radius: 7px;
}
/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #F5AF19;
  background: linear-gradient(90deg, rgba(229,46,113,1) 0%, rgba(255,137,1,1) 98%);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container1 .checkmark1:after {
 	top: 8.5px;
	left: 8.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}